{% extends "network/layout.html" %}

{% block body %}
<div class="container my-4">
	<div class="row justify-content-center">
		<div class="col-lg-6">
            <h2 class="mb-3">Create New Woof</h2>
            <form action="{% url 'create' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <textarea name="content" class="form-control" placeholder="Write your Woof here..."></textarea>
                <br>
            <button type="submit" class="btn btn-primary">Post</button>
        </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}